[2014-05-28 03:29] davidascher opened #1 "Finish setting up instances of API in BadgeKit"

[2014-05-28 03:30] davidascher opened #2 "Ability to create "contributor" badges in badgekit api (and hopefully badges.mozilla.org) that will automatically log awardees on Adam's adhoctribution site."

[2014-05-28 03:30] davidascher opened #3 "Front-end for Sean's badge style guide / visual templates"

[2014-05-28 03:36] davidascher opened #4 "Create a draft roadmap to present at next "Now" MoFo call"
Assigning to @emgollie but I expect everyone to help shape it.

[2014-05-28 10:53] adamlofting commented on #2
This could be push or pull between the two platforms so we should decide on the best route to do this. I think the main options are:
1. badgekit webhooks ping a (currently non-existent) API endpoint on adhoctribution
2. badgekit API exposes a means of querying this data and adhoctribution periodically pulls from this
3. a (currently non-existent) third place stores the data and mozbadging and adho

[2014-05-28 10:56] adamlofting opened #5 "Update messaging in adhoctribution to point relevant people to mozbadges"
Once we are issuing badges and these are being counted as contribution in our dashboards, the messaging within adhoctribution should:

* frame adhoctribution as 'a place to count contributors not suitable for badging'
* guide people who *do* want to issue badges to mozbadges instead

[2014-05-28 11:18] adamlofting opened #6 "Decide how to integrate contribution dashboards into mozbadges"
While people are logged in and issuing contributor badges it's a great time to connect up this user action to the context of the wider contributor tracking/growth goals, and provide positive feedback.

The data from mozbadges will add to the overall dashboards, but can't generate a full contributor graph on it's own.

**How should we integrate contribution dashboards into mozbadges?**
1. At it's s

[2014-05-28 11:22] adamlofting opened #7 "Decide on mozbadges metrics to share with users"
I'm filing this now but think the priority metrics work for MVP is contributor dashboards (See issue #6)

But, at some point we can also give users some other useful metrics.
- All badges issued
- Contributor badges issued
- Unique recipients of contributor badges
- Stats for badge X, Y & Z
- Number badges issued in January
- etc.

[2014-05-28 11:30] adamlofting opened #8 "Decide how to allocate a badge to a particular team or contribution type for reporting purposes"
For example in adhoctribution, each contributor action is logged:
- against a team: https://github.com/adamlofting/adhoctribution/blob/master/views/partials/logging/select-teams.handlebars
- As a type: https://github.com/adamlofting/adhoctribution/blob/master/views/partials/logging/select-type.handlebars

Any Mozilla member of staff can log contribution to any team and contribution type (the team

[2014-05-28 15:21] ghost commented on #2
1) Is what I had in mind, particularly since we're going to be having multiple badging platforms, potentially for a while.  It seems a lot easier to make sure both of them know how to call a webhook when a badge is awarded, rather than keeping them both up to date with all the details of how we want to handle various types of badge award.  We can either split the work, or I can do the API work mys

[2014-05-28 15:25] ghost commented on #1
JP has these mostly ready to go, but going to wait until Kate returns (so, ~6/2) so she can assist with flipping webmaker over to use the other instances.  (Webmaker being the major internal consumer that is actually using badgekit-api for real right now)

[2014-05-28 16:21] davidascher commented on #2
with 1), i think the auth problem is slightly trickier, as we likely need
shared secrets or equivalent to avoid corrupting the contribution data.  2)
requiring only read-only access of public data, feels less risky.

Also, note that we know we're going to want to make simple dashboards of
badges issued per various-kinds-of-categories, which I expect might need
similar routes.

On Wed, May 28, 2014

[2014-05-28 16:30] emgollie commented on #4
This currently lives at https://github.com/mozilla/contribubadger/blob/master/roadmap.md and we will continue to edit. cc @christensenep @andrewhayward

[2014-05-28 16:30] ghost commented on #2
We actually have a pretty good shared-secret-per-consumer system set up already in badgekit api, but it still is a bit more work to get this set up on the webhook's end, yeah.  It seems so easy to go the 2) route that we might as well just go that way, and if it ends up becoming problematic for any reason, we can switch to something more sophisticated.

[2014-05-28 19:39] emgollie commented on #4
Revised at https://github.com/mozilla/mozbadging/wiki/Summer-Roadmap. Please let me know your feedback @christensenep @andrewhayward @davidascher @adamlofting and we will create issues for anything that isn't reflected in this repo yet.

[2014-05-28 19:40] emgollie commented on #3
@andrewhayward, mind providing an update on how this progressing when you have a chance? Thanks.

[2014-05-29 16:34] davidascher commented on #2
Not sure if we want to talk about it in this issue, but I'd like to see a paper napkin quality architectural diagram for the proposed "augmented" badges.mozilla.org.

In particular, I'd like to understand whether we're going with a front-end proxy that's routing requests to different apps (and if so, how do we want to handle auth (e.g. all auths are using the same persona 'realm'; how we think abo

[2014-05-29 16:42] adamlofting commented on #4
FWIW, I noticed today that the bugzilla team also use "b.m.o." so we might be best to avoid that to reduce the confusion. :)

[2014-05-29 16:44] davidascher commented on #4
right.  badges.m.o it is.

On Thu, May 29, 2014 at 9:42 AM, Adam Lofting notifications@github.comwrote:

[2014-05-29 16:46] adamlofting commented on #8
Following chat with @davidascher , I will move the teams list from Adhoctribution into a separate location that can be used by both of these apps.
That task is tracked in Bugzilla here: https://bugzilla.mozilla.org/show_bug.cgi?id=1017677

[2014-05-29 16:49] emgollie commented on #4
Good catch and revised. Please let me know if you have other feedback on the roadmap and we'll start to socialize it.

[2014-05-29 22:54] emgollie commented on #7
Thanks @adamlofting. I'm curious to imagine what "stats for badge X, Y & Z" might include in the future, and issued vs. claimed ratios could be helpful for teams.

[2014-05-30 15:17] andrewhayward commented on #3
Everything is currently at [andrewhayward/badge-studio](https://github.com/andrewhayward/badge-studio). Preview currently hosted at [studio.andrewhayward.net](http://studio.andrewhayward.net).

[2014-05-30 15:59] adamlofting commented on #8
I've just setup a place to store this file, and some example data in case you want to start anything on this today: https://github.com/mozilla/team-list/

[2014-05-30 17:48] emgollie commented on #3
Thanks @Andrewhayward! A few comments that may help simplify the process for users:
- Template: For this year, Team/Product badges are the priority, and I think we'll want to make their usage clear by writing "Team/Product (Staff usage)" so as to not confuse community issuers. Mozilla-wide badges will be designed by Sean and he likely won't use the tool for creating those, so we can eliminate that

[2014-05-30 17:56] emgollie commented on #4
Quick update on this: @christensenep is reviewing and adding a few roadmap-related issues, and I'm preparing a note for the Community Builders list and Grow Mozilla meeting to be distributed soon. I know they're eager for our update (I shared the working roadmap with Larissa Shapiro this week and she was excited about the plan.)

[2014-05-30 18:29] andrewhayward commented on #3
@emgollie - thanks for the feedback.
- **Templates** - once this is built as an app, I'm expecting it to be behind some form of authentication. So most people won't have access to anything except the 'community' template anyway, and won't get any other options. The same with Mozilla-wide badges - it will be easy enough to only give certain people access to that template, should we wish to do so. B

[2014-05-30 18:38] emgollie commented on #3
Completely makes sense, thanks @andrewhayward. It sounds like we're thinking about this similarly. Please let us know your thoughts on next steps and when we're ready I can plan to get it in front of some Mozillians to test it.

[2014-05-30 19:38] adamlofting commented on #4
With the caveat that that they were getting a sneak preview, I pointed the CBT systems and data group to this on their call today to give them a sense of where it's headed. Larissa was on the call too and talked about the roadmap.

[2014-05-30 20:21] emgollie commented on #4
👍 @adamlofting

[2014-05-30 20:45] davidascher commented on #3
Cool, so happy to see progress!

A few random bits:
- extra quotes around glyphs
- font is wrong, at least on firefox nightly
- agree that we'll need some ACL to only let some people issue team + mozwide badges.  For now, let's build two whitelists.

Q: are these SVG?

[2014-05-30 21:23] davidascher commented on #3
Also:
- I vote for dark blue background by default
- I'm going to need some screenshots of this for a board presentation soon, so let's spend some time making the UI look prettier.

[2014-05-30 21:28] davidascher commented on #3
Issues:
- in firefox nightly, on initial page load, the default background does not load (white instead).
- in firefox nightly, the diagonal stripes don't show, and the background says "none".
- in firefox nightly, the custom color picker doesn't work.
- in firefox nightly, the glyphs have quotes around them.
- the default colors in the color picker should probably not start at 0 value, as it take

[2014-05-30 21:31] emgollie commented on #3
On @davidascher's last point, I think we can ask the (still to be determined) designer of badges.m.o. to make a few visual suggestions. @xmatthewx, please let us know if you have suggestions in the meantime.

[2014-05-30 21:33] emgollie commented on #3
@andrewhayward, let us know your thoughts and timing on this feedback and we can also share it with Sean.

[2014-05-30 22:10] davidascher commented on #3
I should say that once i started looking at the site in Chrome, my overall esthetic impression is much better.  Which is all I need for board slides.

I do think we want some UX thinking about auth and integration in the issuing flow, which @xmatthewx can do, but isn't urgent.

[2014-06-02 10:07] adamlofting commented on #7
For X, Y and Z I was thinking that:
- Along with stats for all Mozilla (e.g. total badges issued/claimed/etc across the whole platform)
- And stats on an individual badge (e.g. issue/claimed/etc for the "Metrics Contribution Badge")
- We might want to be able to report on a subset or selection of badges (e.g. all badges from the Legal Team, or even an arbitrary selection of badges from across team

[2014-06-02 15:40] emgollie commented on #7
I think the third option on subsets will be particularly helpful. Thanks @adamlofting.

[2014-06-02 16:46] andrewhayward commented on #3
I've resolved the actual bugs listed. Need some more discussion about other items (background colour, colour picker defaults, etc). At any rate, Chrome and Firefox should be the same now.

[2014-06-02 16:47] andrewhayward commented on #3
As regards the glyph list, we definitely need to weed some of them out, and remove duplicates.

[2014-06-02 18:33] davidascher commented on #3
stripes still don't work on firefox nightly, other than that looks good.

On Mon, Jun 2, 2014 at 9:47 AM, Andrew Hayward notifications@github.com
wrote:

[2014-06-02 18:42] davidascher commented on #3
never mind, somehow they work now =)

On Mon, Jun 2, 2014 at 11:33 AM, David Ascher david.ascher@gmail.com
wrote:

[2014-06-02 20:24] emgollie commented on #4
I'm getting ready to send an internal email and CBT group update with the roadmap plans, and please forward it to people I've missed who may be interested. Thanks all.

[2014-06-03 00:22] emgollie opened #9 "Create contributor counting/practices working group"
_Is there someone (from CBT?) on point re: overall badge system design for contributors (what counts for what?) or at least to coordinate mini-system design across Mozilla groups using badges (e.g. MDN, Wm.org)?_

I propose creating a group of people who meet regularly to discuss and create promoted practices around this (suggest David Boswell and/or Larissa Shapiro, Geoffrey, and @adamlofting to

[2014-06-03 00:24] emgollie opened #10 "Develop badge system design tutorials"
Need to create tutorials/teaching kits around badge system design for interested Mozilla teams. Will help with distributed knowledge sharing and onboarding. May solicit the expertise of @carlacasilli.

[2014-06-03 04:54] davidascher commented on #9
+1

On Mon, Jun 2, 2014 at 5:22 PM, Emily Goligoski notifications@github.com
wrote:

[2014-06-03 15:44] adamlofting commented on #8
@christensenep I added a node module to this today that you can install via npm to consume the gh-pages maintained list within badge apps: https://github.com/mozilla/team-list/tree/gh-pages/node

[2014-06-04 07:37] adamlofting commented on #3
This looks great.
- Stripes was working for me then stopped after I'd switched between a few color palettes. I was getting this error in the console when it stopped working: http://oi61.tinypic.com/f26giu.jpg

Other low-priority feature ideas:
- [ ] A cookie (or something else) to remember your drop-down settings for repeat users
- [ ] A different default custom color palette (currently all black

[2014-06-04 08:05] adamlofting commented on #9
Sounds good. Let's discuss on our call today as I think the fuzzyness in this area comes from the badges/counting overlap that we're trying to join up.

Existing CBT meetings are a good forum for some of this but there might be another co-ordination point needed.

(For discussion) I think the two objectives are:
1. Connect the MozBadges summer roadmap to the CBT counting and recognition plans
2. P

[2014-06-04 15:30] adamlofting opened #11 "The Adh-hoc contribution logger counts contributor badges"

[2014-06-04 16:10] #3 closed, assigned to andrewhayward

[2014-06-04 16:13] adamlofting commented on #2
I will turn this into granular actions, then we can close this discussion.

[2014-06-04 16:13] davidascher opened #12 "Make django badgekit client"

[2014-06-04 16:14] davidascher opened #13 "Refactor badges.mozilla.org to use django badgekit module"
(and carry the data with it)

[2014-06-04 16:18] davidascher opened #14 "Investigate how quickly we can have staging-badges.mozilla.org show the new badge studio"

[2014-06-04 16:19] adamlofting opened #15 "Setup staging version of badges.m.o for development"

[2014-06-04 16:19] davidascher opened #16 "Find out more about deployment of badges.m.o."
Is it bare metal via IT bug request; PAAS; heroku? etc.

It'd be good to know how quickly we can start pushing changes out.

[2014-06-04 22:08] davidwboswell commented on #9
I'm happy to take part in these discussions and think coordinating closely across MoCo and MoFo about this is a good idea.

In terms of creating a new working group, have we decided that none of the existing working groups are the right fit?  We might be able to get more leverage making use of an existing group.

If we want to create a new group, that's fine.  Let's make sure to make it discoverab

[2014-06-05 09:00] adamlofting commented on #9
Thanks @davidwboswell, we think the missing piece here is "Counting contributors _with_ badges" as it overlaps a few of the working groups.

We (all Moz) have been thinking about 'badges for recognition', and thinking about 'how we count contributors' but the idea of 'counting contributors _with badges_' has been theoretical until now because the platform to do this didn't exist. As this roadmap m

[2014-06-05 23:24] emgollie opened #17 "Identify site page needs for badges.m.o."
I was talking with a potential designer for the badges.m.o. project and we discussed these page needs for the refreshed badges.m.o. (I think we need an “earn” stream (for Mozillian earners) and an “issue” stream (for badge creators) and would like your thoughts.)
- [ ] Homepage
- [ ] Issue flow (pages TBD)
- [ ] Available badges overview
- [ ] Earned badges: overall badges-issued-to date stats pag

[2014-06-05 23:26] emgollie opened #18 "Create badges.m.o. site map"
Need to develop a site map with team feedback per https://github.com/mozilla/mozbadging/issues/17.

[2014-06-09 19:08] emgollie commented on #17
Friendly check-in on additional pages we need to be considering. Thanks in advance @christensenep @andrewhayward @davidascher.

[2014-06-09 19:33] andrewhayward commented on #17
Has anyone looked over what is provided by the current badges.m.o? Based purely on the codebase, there seems to be a lot going on; we should probably make sure that if we do drop functionality, it's for considered and planned reasons, rather than because we're just not aware of it. Might it be worth trying to find out from current users what they do and don't like about the current offering, and w

[2014-06-09 20:46] emgollie commented on #17
Thanks @andrewhayward. @zzzndr and I took a stab at characterizing current pages, and I agree that the next step is user feedback around areas of particular importance (I'd also like to bring a list and/or sitemap to some of our internal testers as a conversation starter).

We can discuss during tomorrow's team meeting, and in the meantime, the no. 1 thing I've heard from Mozilla issuers is the im

[2014-06-09 21:22] andrewhayward commented on #17
Regarding your final point, I was about to say "You mean [a page like this](https://badges.mozilla.org/en-US/badges/badge/Community-building-rockstar/awards)?" But then I looked at the page and realised it's broken. It's also several clicks through to that page, and not immediately obvious, so even if it was working, it's no great surprise if people don't know about it.

Regardless, there's defini

[2014-06-09 21:48] davidascher commented on #17
yeah, a page like that + some of the metadata surfaced, so people know
- what those people did
- how they can apply for one

On Mon, Jun 9, 2014 at 2:22 PM, Andrew Hayward notifications@github.com
wrote:

[2014-06-11 16:50] davidascher opened #19 "Setup andrew so that he can push changes to badges.m.o."
cmore sez:

I would file a webops bug:

https://bugzilla.mozilla.org/enter_bug.cgi?product=Infrastructure%20%26%20Operations&component=WebOps%3A%20Other

CC: lcrouch@mozilla.com and lorchard@mozilla.com

I would reference the bugs below that I mentioned about Chief that was setup on badges. They also need to know who needs to have access to deploy to stage/production. I would keep Less in the loop

[2014-06-11 16:52] davidascher commented on #19
Andrew, if you need VPN access to MPT, go to service-now.

[2014-06-12 10:10] adamlofting opened #20 "Establish baseline data for badges.m.o (via database)"
- [ ] Explore existing database to see what data we have
- [ ] If possible report on existing data about # of badges issued, claimed, etc
- [ ] Consider other data we might be missing that would help here

[2014-06-12 10:12] adamlofting opened #21 "Establish baseline data for badges.m.o (via GA)"
- [ ] Get access to existing account
- [ ] Gather available baseline metrics
- [ ] Scope additional tracking if required (GA Events, Goals, Search etc)

[2014-06-12 10:58] adamlofting commented on #21
GA Access requested for us here: https://bugzilla.mozilla.org/show_bug.cgi?id=1024429

[2014-06-12 17:22] emgollie opened #22 "Weekly progress updates from team"
We mentioned doing an asynchronous check-in towards the tail end of the week. I can kick it off each Thursday (and am open to email updates if we don't want these in GitHub).
- [X] Grow Mozilla roadmap sharing and feedback solicitation
- [ ] Surveys and interviews with internal stakeholders to plan badges.m.o. site pages
- [ ] Badge studio design brief for issuers brainstorm
- [ ] Determining UI p

[2014-06-12 19:02] emgollie commented on #17
Per today's Grow Mozilla meeting, I'm starting to publicize this short survey internally for information collection with internal issuers and earners: http://bit.ly/TP0Y3q

Stay tuned for analysis.

[2014-06-12 20:42] emgollie commented on #22
Also, we can make part of our check-in on Tuesday a retro about our first heartbeat milestone tomorrow.

[2014-06-13 11:16] adamlofting commented on #21
The existing GA tracking code on badges.m.o is actually from another site: http://badg.us which seems to be a copy/paste of the badges software - but it's not clear who owns or runs that site.
@emgollie @davidascher  - do you know anything about http://badg.us ?

I'll carry on on the assumption that badges.m.o has no GA history and we're going to have to create a profile and start tracking this no

[2014-06-13 13:41] adamlofting commented on #11
@christensenep this looks great: https://github.com/mozilla/adhoctribution/pull/7 just one nit that I can see via github.

Related thoughts:
1. Are we spinning up a staging badgekit API I can test this against? Otherwise I can install something locally but don't know the system well.
2. This solves the MVP version, and I don't think we should complicate this now. But next iteration would be that t

[2014-06-13 13:58] adamlofting commented on #6
What this will look like is subject to the updated UX for badges.m.o, but I think we can decide on _how_ this can work. I propose:
- extend http://areweamillionyet.org and the data source behind this to expose embeddable dashboards, and raw numbers like total active contributors. Doing so is useful for this, and other other projects related to growing Mozilla. (https://bugzilla.mozilla.org/show_bu

[2014-06-13 13:58] #6 closed, assigned to adamlofting

[2014-06-13 13:59] ghost commented on #11
1) We've got one!  It's at https://badgekit-api-mozilla.mofostaging.net.  Prod is at https://badgekit-api-mozilla.mofoprod.net for the time being (we may move to a more pretty domain, though since it isn't an end-user-facing product JP kinda likes the idea of it living there, which I'm fine with.)

2) I 100% agreed with this when I started working on this PR, though when I started adding the vario

[2014-06-13 14:06] adamlofting commented on #5
Moved this back on the schedule as it's something to do after we know what badges.m.o looks like and does.
This is a relatively simple task though.

[2014-06-13 15:28] adamlofting commented on #11
With that last tweak I just commented on the PR, I think we can say the MVP version of this is ready.

We can upgrade how this works when we solve #8 within the badges UX.

[2014-06-13 15:45] adamlofting commented on #2
Closing this one, as we have an MVP solution.
For now this works by maintaining a list of 'which badges are contributor badges' within adhoctribution, and fetching data from badgekit-api for them.
We can iterate on this when we work out the UX for #8

[2014-06-13 15:45] #2 closed, assigned to nobody

[2014-06-13 15:47] adamlofting commented on #8
This isn't going to ship today. This is dependent on the conversations about who can create and issue a contributor badge and what level of permissions the system needs vs what level of training explanation goes with the system.

[2014-06-13 15:55] adamlofting commented on #22
Thanks for the reminder :+1:
- [x] Review @christensenep 's PR that counts badges issued in adhoctribution
- [x] #6 Decide _how_ to integrate contribution dashboards into mozbadges metrics
- [x] Start process for adding Google Analytics to badges.m.o

Missed the (heart)beat:
- [ ] Decide how to allocate a badge to a particular team or contribution type for reporting purposes #8

[2014-06-13 16:21] emgollie commented on #21
@adamlofting That site was also created by @lmorchard: https://github.com/lmorchard/badg.us

[2014-06-16 17:41] emgollie commented on #22
@christensenep @andrewhayward Friendly check-in on this. Tomorrow we will also discuss live via https://openbadges.etherpad.mozilla.org/mozbadges.

[2014-06-16 17:51] ghost commented on #22
Hello!  Sorry I am late on this.
- [x] Adhoctribution PR that logs earners of specified badges as contributors
- [x] Staging version of badges.m.o deployed
- [ ] Refactor badges.mozilla.org to use the django badgekit client

I'm working on getting the staging version of badges.m.o up and running in heroku, should be done by our meeting tomorrow.  badges.mozilla.org using the django badgekit client

[2014-06-17 14:03] andrewhayward commented on #22
Sorry, missed this.
- [ ] BadgeKit API python client
  - [x] Testing framework
- [ ] Working through VPN/Chief setup

The API client has proven to be a lot more legwork than I was anticipating. The hard work is done, but it might be a case of filling in bits as and when we need them.

I'm also quite confused as to what the Webmaker guys are waiting on us for. [This bug](https://bugzilla.mozilla.or

[2014-06-17 15:05] #11 closed, assigned to adamlofting

[2014-06-17 15:05] #22 closed, assigned to nobody

[2014-06-17 15:06] #16 closed, assigned to davidascher

[2014-06-17 15:11] emgollie commented on #14
Update from @andrewhayward: determining needs per https://github.com/mozilla/mozbadging/issues/22#issuecomment-46310511.

[2014-06-17 15:18] andrewhayward commented on #12
The hards bits of this are done: see [badgekit-api-python-client](/mozilla/badgekit-api-python-client).

Various routes are still to be done, but these can be done as and when needed.

[2014-06-17 15:22] #1 closed, assigned to nobody

[2014-06-17 15:22] #4 closed, assigned to emgollie

[2014-06-17 15:25] ghost commented on #15
This is live here:  http://bmo.herokuapp.com

Still working out a CSRF bug that prevents much from being done there, however.

[2014-06-17 15:32] emgollie opened #23 "Mozillians.org badge display working plan"
@christensenep connecting with Giorgos next week re: display on Mozillians.org profiles.

[2014-06-17 16:17] ghost opened #24 "Migrate badges.mozilla.org data to badgekit API"
Before we switch the production version of badges.m.o to use BadgeKit API, we need to migrate all the existing data to BadgeKit API.

[2014-06-17 19:15] ghost commented on #15
Alright, resolved the CSRF issue and added a mock smtp server that collects the mails that would be sent by the app.  Things work!  Huzzah.

[2014-06-17 20:24] andrewhayward opened #25 "Update badges.m.o to use Sandstone theme"
https://www.mozilla.org/en-US/styleguide/websites/sandstone/

[2014-06-17 20:25] andrewhayward opened #26 "Integrate Badge Studio into badge creation workflow"

[2014-06-19 19:49] emgollie commented on #25
Discussed with @zzzndr and we'll be sharing some screens with Sandstone next week.

[2014-06-19 21:53] emgollie opened #27 "Share Mozilla staff research findings"
Through survey collection and interviews with staff today in Mountain View, a few trends are emerging with regards to badges.mozilla.org needs:
- Amongst issuers there is great demand for **clarity about issuing processes, visibility into who is earning a team's badges** and **visual design help** (queue badge studio).
- **Integration with other services** has been a long time request. Mozillians.

[2014-06-19 22:14] emgollie opened #28 "Weekly progress updates from team"
Kicking off our end-of-week note to share these updates:
- Analyzing conversations with internal users to identify major needs for badges.m.o.: https://github.com/mozilla/mozbadging/issues/27
- Met with @zzzndr to discuss sitemap, wireframes, and design themes. Will have initial ideas to share on Tuesday's call.
- Adam hosted a conversation about counting contributors with possible routes moving f

[2014-06-20 15:31] adamlofting opened #29 "Adding GA to existing badges.m.o so we can establish baseline numbers"
I have a [GA tracking tag](https://bugzilla.mozilla.org/show_bug.cgi?id=1024429) for us to add into the existing badges.m.o site to gather some baseline metrics.

@davidascher @christensenep @andrewhayward - do we have access to make changes? Or should I file this somewhere else for now?

[2014-06-20 21:28] andrewhayward commented on #29
We don't, but the MozBadges team should probably be given access to the repository. Once we can push code through though, we can conceptually update the site. (Note to self...)

[2014-06-23 09:01] adamlofting commented on #28
- The meeting notes you've linked to.
- GA account is ready but we need to update prod to get baseline data #29
- In related news, central mozilla contributor dashboards are now here: http://areweamillionyet.org based on data in Baloo. So I'll start thinking about how the data connects from mozbadges to Baloo

[2014-06-23 14:34] ghost commented on #28
- bmo.herokuapp.com is up and running
- Working on converting bmo/django-badger to talk to badgekit api using @andrewhayward's https://github.com/mozilla/badgekit-api-python-client library

[2014-06-23 20:30] emgollie commented on #28
@andrewhayward, let us know if there is anything we should review before tomorrow (agenda is open for additions: https://openbadges.etherpad.mozilla.org/mozbadges; we'll also be reviewing @zzzndr's initial UI ideas). Thanks all.

[2014-06-23 20:54] andrewhayward commented on #28
@emgollie - oops, missed this again.
- Made some big steps in getting the Sandstone theme into badges.m.o
  - Need to talk to @christensenep about getting this onto [bmo.heroku](http://bmo.herokuapp.com)
  - Evidently there's some discussion to be had around @zzzndr's wireframes
- Talked to @christensenep about possible ways of integrating the badge studio into the creation workflow. No code writt

[2014-06-23 23:06] zzzndr opened #30 "wireframes of the homepage + the badgepage"
Here are links to several wireframes of the homepage + the badgepage

Wireframe homepage, logged in:
https://redpen.io/wsb8297eec70aa03df

Wireframe homepage, search field + help popup:
https://redpen.io/fva8dc22b6a5e520ac

Wireframe homepage, user dashboard:
https://redpen.io/mte2f31f671414588f

Wireframe badgepage
https://redpen.io/kv6df4dc54adc74d63

Looking forward to everybody’s feedback!

@e

[2014-06-24 00:10] emgollie commented on #30
Thanks @zzzndr! Look forward to discussing tomorrow, and would like to invite @chloeatplay @iamjessklein @MatthewW @cassiemc to provide feedback on the Red Pen links as well.

Most of my global page feedback can be found on https://redpen.io/wsb8297eec70aa03df.

[2014-06-24 01:16] #28 closed, assigned to nobody

[2014-06-24 01:44] emgollie commented on #27
Have integrated this into rough thinking for https://github.com/mozilla/mozbadging/issues/18.

[2014-06-24 01:54] emgollie commented on #18
Before flushing this out, I want to work with @zzzndr to refine the primary navigation per user feedback (https://github.com/mozilla/mozbadging/issues/27) and initial UI concepts (https://github.com/mozilla/mozbadging/issues/30). I would suggest directing users toward either the earner or issuer flow:
![screen shot 2014-06-23 at 6 49 54 pm](https://cloud.githubusercontent.com/assets/1174853/336625

[2014-06-24 12:25] andrewhayward opened #31 "Add mozbadges team to badges.mozilla.org repository"
So that we can do stuff with it.

[2014-06-24 12:28] zzzndr commented on #18
I think I would choose to direct users to the earner flow.
Without having hard data to back me up, I think there are more earners then issuers (:

Perhaps it is too time consuming, but what if there will be button on the homepage which toggles the flow from earner to issuer?

[2014-06-24 12:44] adamlofting commented on #18
Can we also think about where within this flow we'd like to surface contributor goals and data? (whether that's embedded graphs, or numbers, or just 'find out more' links).

The Mozilla wide contributor dashboard is taking shape here now: http://areweamillionyet.org (see the team drop-down for team specific views).

[2014-06-24 15:06] davidascher commented on #31
done

[2014-06-24 15:06] #31 closed, assigned to davidascher

[2014-06-24 15:06] adamlofting commented on #29
I will ask Chris about how to get this in place with minimal work on the existing platform.

[2014-06-24 15:06] #15 closed, assigned to nobody

[2014-06-24 15:09] adamlofting commented on #20
I think this will make most sense after the data is migrated: #24
So we can build in queries and hooks that can be re-used.
The data is already captured, so we're not losing tracking at this stage.
I'll push this back to a later heartbeat.

[2014-06-24 18:57] emgollie commented on #18
Thanks @zzzndr and @adamlofting. Per the question "what if there will be button on the homepage which toggles the flow from earner to issuer?" it could be interesting to put together a rough mockup of this toggle interaction to usability test.

For now, we can consider small and medium-size issuers the primary site users but can also validate that with users. Thanks!

[2014-06-25 10:37] adamlofting commented on #29
Ticket opened for this: https://bugzilla.mozilla.org/show_bug.cgi?id=1030046

[2014-06-25 10:47] adamlofting commented on #8
I'm going to make a call on this and change the scope.

`Contribution type` isn't required for two reasons:
- Baloo database and reporting doesn't require this
- The badges are granular so queries can be built after the fact by selecting a group of badges

For `teams`, I suggest we do this.
- A badge can be associated with a team, if the badge author has permission to do this.
- This does not affe

[2014-06-25 10:47] #8 closed, assigned to adamlofting

[2014-06-25 10:49] adamlofting opened #32 "Badges can be associated with Mozilla teams"
This will allow us to show badge metrics at a team level, and count team contributors via contributor badges.
- A badge can be associated with a team, if the badge author has permission to do this.
- This does not affect the badge itself, but is a relational mapping we can use to report on badge metrics by team.
- The list of teams should be pulled from and maintained here: https://github.com/mozi

[2014-06-25 10:53] adamlofting commented on #32
Assigning to @emgollie as a starting point.
This task is part of the build work, but probably needs UX consideration first.

[2014-06-25 20:00] emgollie commented on #32
Glad you created this issue @adamlofting. Let's discuss tomorrow on IRC when you have a minute. I was just thinking about personal and team collaboration around badge issuing (and account settings and sharing) per @zzzndr's design: https://redpen.io/rt9ca298e7befe3269

[2014-06-25 20:03] emgollie commented on #30
@zzzndr posted two new wireframes for team comment, @christensenep @andrewhayward @adamlofting @davidascher @chloeatplay:

Issuer logged in page: https://redpen.io/rt9ca298e7befe3269
Earner logged in page: https://redpen.io/qpd50d0b0780f16ed7

I like that splitting these two use cases would allow us to simplify the homepage. Thoughts?

[2014-06-26 02:24] davidascher commented on #30
yes, this feels way more approachable.  general +1 on that approach.

Makes me want to ask what the team view looks like -- in particular, graphs
of growth rate of badge issuances are likely more important to show status
than just a list of recent issuees (although those are useful too).

On Wed, Jun 25, 2014 at 1:03 PM, Emily Goligoski notifications@github.com
wrote:

[2014-06-26 13:55] ghost commented on #30
Yeah, I like the split use cases, and also some of the other changes you've made there.  In particular I like the change to the "recently awarded" list to make it list only one individual's badge awards at a time.  Makes it feel more... playful?  As opposed to a big dump of information demanding to be processed.  Or something.

[2014-06-27 14:32] #17 closed, assigned to emgollie

[2014-06-27 14:35] emgollie opened #33 "End of week team check in"
Hi all, wanted to check in to see how we're tracking against today's heartbeat. A few updates:
- [x] Collaboration with @zzzndr underway on distinguishing earner and issuer flows.
- [ ] Undertaking wiki migration for visual badge info listed in org doc.
- [ ] Need to check in with @adamlofting w.r.t. https://github.com/mozilla/mozbadging/issues/32.

Over to you @andrewhayward @christensenep @david

[2014-07-01 05:41] emgollie commented on #33
We'll plan to meet here on Tuesday to talk about the heartbeat and this week's progress: https://openbadges.etherpad.mozilla.org/mozbadges

cc @andrewhayward @christensenep @zzzndr @adamlofting (@davidascher is out on Tuesday for a Canadian holiday but we'll debrief him after).

[2014-07-01 08:23] adamlofting commented on #33
Only one update from me this week:
- Pull request is open for: Adding GA to existing badges.m.o so we can establish baseline numbers #29

[2014-07-01 13:38] #25 closed, assigned to andrewhayward

[2014-07-01 13:38] #26 closed, assigned to andrewhayward

[2014-07-01 13:39] andrewhayward commented on #33
Sorry, missed this... _again_.
- [x] Re-skinned current badges.m.o to Sandstone
- [x] Added badge studio into creation workflow

Will talk to Erik and see if we can get this up on a box somewhere for people to look at.

![make-a-badge](https://cloud.githubusercontent.com/assets/159848/3443602/d966e34e-0124-11e4-80d6-2617b1ccf2ac.gif)

Didn't get a chance to look into VPN/box access. Need to priori

[2014-07-01 13:41] ghost commented on #33
I'm working on deploying it now. :)

I'm attempting to integrate it with what I've got ready for the badgekit api integration stuff.  Unfortunately I do still have work to do here (some of it likely on our own branch of badgekit api), but you can create, edit, and delete badgekit badges now (though you can't award them yet).  (PR is here https://github.com/mozilla/mozilla-badges/pull/4)

[2014-07-01 15:03] #33 closed, assigned to andrewhayward

[2014-07-01 15:03] #27 closed, assigned to emgollie

[2014-07-01 15:06] andrewhayward commented on #14
We're working on getting this onto Heroku now. Will open a new ticket if this means badges.allizom.org instead.

[2014-07-01 15:06] #14 closed, assigned to andrewhayward

[2014-07-01 15:07] #13 closed, assigned to nobody

[2014-07-01 15:08] emgollie commented on #12
@andrewhayward working to make this Mozillians.org feature complete per our team meeting on 1 July.

[2014-07-01 15:10] andrewhayward commented on #12
This exists, but isn't 100% feature-complete. @christensenep reckons it's got enough coverage for mozillians.org to work, so closing this with the assumption that should we need to do work on it in the future we can open specific tickets.

[2014-07-01 15:10] #12 closed, assigned to andrewhayward

[2014-07-02 12:56] andrewhayward opened #34 "Sort out mailing list"
badges-dev@ has been set up. Make sure people are aware of it's existence.

[2014-07-02 12:56] andrewhayward commented on #34
Invited core team.

[2014-07-02 12:56] #34 closed, assigned to andrewhayward

[2014-07-02 12:59] andrewhayward opened #35 "Get mozillians API access sorted out"
We'll need this for the new version of badges.mozilla.org. We might be able to use the existing API key, but it might also be worth getting a new one for ourselves.

[2014-07-02 12:59] andrewhayward opened #36 "Get existing mozillians API key"
We may not need this, if the box configurations won't need to change, but investigate if that's the case or not.

[2014-07-03 02:47] emgollie commented on #18
Updated site map per discussions with @zzzndr. @adamlofting, per your question I imagine that contributor goals and data could be tracked on the issued and claimed badges dashboard but am open to other thoughts (including whether that become its own page). @christensenep @andrewhayward @davidascher, look forward to your thoughts.

![sitemap-01](https://cloud.githubusercontent.com/assets/1174853/34

[2014-07-03 11:46] andrewhayward commented on #18
I don't quite understand the "Backpack Mozillians.org display" bit - what does that actually mean?

I'm also not sure how easy it is to separate out the 'earner flow' like this. What _is_ the earner flow? In my mind at least, you've either been given a claim code, which just requires an obvious box somewhere, or you're looking at a badge you want to apply for. There doesn't seem to be much of a di

[2014-07-03 15:57] andrewhayward commented on #18
@zzzndr asked me to briefly explain the new badge creation workflow, for the purposes of the site map:
1. The user is presented with the badge studio.

   ![make-a-badge-step-1](https://cloud.githubusercontent.com/assets/159848/3472194/73542df4-02c9-11e4-9661-33525ce4efe1.png)
2. They design their badge.

   ![make-a-badge-step-2](https://cloud.githubusercontent.com/assets/159848/3472204/81c4a2ce-

[2014-07-03 16:16] zzzndr commented on #18
thanks, very helpfull!

[2014-07-03 22:02] emgollie commented on #18
Updated sitemap per conversations with @zzzndr:
![screen shot 2014-07-03 at 3 02 15 pm](https://cloud.githubusercontent.com/assets/1174853/3476340/bf821392-02fd-11e4-9756-5208fdd2b9b5.png)

[2014-07-03 22:13] emgollie opened #37 "End of week team check in (also, it's suddenly July)"
A few updates on this end:
- Have been working with @zzzndr @andrewhayward on the updated sitemap: https://github.com/mozilla/mozbadging/issues/18
- @zzzndr and I are creating a single list of badges.m.o. page wireframes for easy findability here: https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes
- Eager to get thoughts on this draft schedule looking towards site revamp:
- [ ]

[2014-07-04 00:10] emgollie commented on #18
Discussed with @davidascher and it seems that we need to create a connection between team/product badges and their available badges. Will keep considering additional connections that aren't currently noted. cc @zzzndr @christensenep

[2014-07-04 12:14] zzzndr commented on #18
Here is the revised sitemap where the connections between team & badges are described
@emgollie @davidascher @christensenep

![sitemap3](https://cloud.githubusercontent.com/assets/6721026/3481604/9d66d942-0374-11e4-9e61-50d5919ed6c9.jpg)

[2014-07-04 16:38] andrewhayward commented on #35
Ticket opened: https://bugzilla.mozilla.org/show_bug.cgi?id=1034650

[2014-07-04 16:38] andrewhayward commented on #36
Waiting on #35 to decide if we'll need the current API key or not.

[2014-07-04 16:39] andrewhayward commented on #23
See also this Bugzilla ticket: https://bugzilla.mozilla.org/show_bug.cgi?id=680209

[2014-07-04 16:40] andrewhayward commented on #23
And this wiki page: https://wiki.mozilla.org/Mozillians/Releases/Badges

[2014-07-07 05:02] emgollie commented on #18
Regarding @andrewhayward's earlier question ("I don't quite understand the 'Backpack Mozillians.org display' bit - what does that actually mean?"), there will need to be connections between an earner's badges and the sites where they are housed and displayed beyond badges.m.o. @christensenep mentioned that he should be getting more information regarding the Mozillians.org display component this we

[2014-07-07 11:01] andrewhayward commented on #18
@emgollie - are we to take that as saying that a badges.m.o profile should be a functioning backpack then? Initially I was under the impression that mozillians.org would be the final end-point for badges, but according to [this ticket](https://bugzilla.mozilla.org/show_bug.cgi?id=680209), that's clearly not the case. Unless things have changed in the last year or two, of course :)

As things stand

[2014-07-07 14:08] ghost commented on #18
What do you mean by final end-point, exactly?  What I was expecting was that mozillians.org would simply poll badgekit-api for any badges earned by the logged-in user, and then display them on their profile page.  So once you earned a badge, it would just automatically show up there.

Eventually we'd have to add some sort of ability for the user to choose which badges were displayed there (and whe

[2014-07-07 15:24] emgollie commented on #18
@christensenep: You're correct that Mozillians.org would be a display site (sorry to confuse). Thinking through @andrewhayward's larger questions and curious to see where people net out on those.

[2014-07-07 17:36] emgollie commented on #37
Friendly check in for updates @adamlofting @andrewhayward @christensenep.

I'll be away tomorrow but @zzzndr will be showing new wireframes per https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes. cc @davidascher

[2014-07-07 17:41] emgollie opened #38 "Complete first round site wireframes"
@zzzndr completing wireframes for remaining badges.m.o. pages this week: https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes

Sander will be soliciting team member feedback and usability testing will kickoff mid-week.

[2014-07-07 17:44] emgollie opened #39 "Solicit Mozilla staff user feedback on wireframes"
Will be sharing first round wireframes with Moz staff (particularly community managers who will be issuing badges) per updated wireframes: https://github.com/mozilla/mozbadging/issues/38

[2014-07-07 19:15] andrewhayward commented on #18
@christensenep: "What do you mean by final end-point, exactly?" I suppose the question I was trying to ask (badly) was 'where are we ultimately trying to direct users to see an individual's badges?' Where is the "backpack" in all of this?

My understanding now is that mozillians.org will just be showing badges from BadgeKit. Is that the case with badges.m.o too? Do Mozillians get a Mozilla-hosted

[2014-07-07 19:52] emgollie commented on #18
I see what you're asking, thanks @andrewhayward. In considering the user flow upon claiming a badge, I imagine that users would be directed to backpack.openbadges.org. I think we also want to include some information on badges.mozilla.org encouraging earners to display their badges on their Mozillians.org profiles or create new profiles. Thoughts?

We should also consider badge "favoriting" in thi

[2014-07-07 20:39] andrewhayward commented on #18
@emgollie - do we really want to keep using backpack.openbadges.org? Have we discussed having an official Mozilla-hosted equivalent? I suppose I just keep coming back to the idea of increasing contributor numbers, and I'm not really sure what we're doing with badges.mozilla.org to help with that.

[2014-07-07 20:44] emgollie commented on #18
@andrewhayward I don't know that a Mozilla-hosted backpack equivalent has been discussed (but @davidascher @christensenep may know). It seems out of scope for this summer but could be beneficial in the long-term as part of a larger federation of backpacks. Eager to hear what others think.

[2014-07-07 21:12] ghost commented on #18
I suppose I am honestly not entirely clear on what the benefit of a backpack is/would be if we already have a person's badges being displayed on mozillians.org.  (Not trying to be overly obtuse, as I do understand the theory behind the backpack, just not sure badge adoption is at a place where it's possible to show the value to an end-user yet)

So I suppose I was thinking that we wouldn't really

[2014-07-07 21:30] andrewhayward commented on #19
Opened a bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1035431

[2014-07-07 22:01] andrewhayward commented on #19
I already have access to VPN, and @lmorchard has sent me some credentials via email. Will see if they still work!

[2014-07-07 23:51] emgollie opened #40 "Draft website copy"
Need to work with @zzzndr on wording for site pages: https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes

[2014-07-08 10:00] andrewhayward commented on #37
At some point I might remember to do this before the start of the next week.
- Put in a request for Mozillians API access; no response yet.
- Sorted out VPN access (haven't had to use it since before the new system was put in place).
- Am able to see badges chief boxes; yet to see if access codes as provided by @lmorchard actually work.
- Various updates to badge studio.
- Discussed various bits a

[2014-07-08 10:04] zzzndr commented on #37
Spent last week creating a set of wireframes with the aid of @emgollie  & @andrewhayward (:

[2014-07-08 12:20] adamlofting commented on #37
No new updates from me this week.

[2014-07-08 13:16] ghost commented on #37
- Set up an S3 bucket for our heroku instance at bmo.herokuapp.com (this lets image uploads persist for longer than ten minutes, and makes the badge studio actually work).
- Worked on badge awards, should be live (in staging) later today

[2014-07-11 11:34] adamlofting commented on #29
@andrewhayward is merging and pushing this something we're setup to do now?
https://github.com/mozilla/badges.mozilla.org/pull/71

[2014-07-11 11:36] adamlofting commented on #21
I'm closing this as there isn't baseline data, but the task of getting some is in progress. I'll file a separate task for setting up event and goal tracking in the new GA.

[2014-07-11 11:36] #21 closed, assigned to adamlofting

[2014-07-11 11:37] adamlofting opened #41 "Specify GA Events, Goals, and Search tracking"
This is tracking that will be implemented on the new badges.m.o rather than extra work on the current instance.

[2014-07-11 11:43] adamlofting commented on #9
In the call related to this, we didn't feel another working group was required here. But that this work on badges.m.o should continue to loop back into the existing CBT working groups to share progress and to get feedback on development:

https://etherpad.mozilla.org/counting-contributors-with-badges

[2014-07-11 11:43] #9 closed, assigned to adamlofting

[2014-07-11 19:51] emgollie commented on #21
Sounds good, thanks @adamlofting.

[2014-07-11 21:46] emgollie commented on #39
I'll be testing these with members of the CBT team (including David Boswell, Larissa and Michelle Marovich) live on Monday. Feedback to follow. cc @davidascher @zzzndr

[2014-07-14 11:53] andrewhayward commented on #29
@adamlofting - in theory this is something we're set up to do now, yes. We have the tools to do it. I'm just not quite sure how to use them :)

Need to talk to @lmorchard.

[2014-07-14 12:51] andrewhayward commented on #29
I've merged [`badges.mozilla.org#71`](https://github.com/mozilla/badges.mozilla.org/pull/71). In theory, [the `dev` box](https://badges-dev.allizom.org/) should auto-update, so I'm going to keep an eye on that for a while. If it does, then I think I know what I'm doing as regards deploying to staging/master. Will keep you posted.

[2014-07-14 13:04] andrewhayward commented on #29
@adamlofting - `dev` has now updated itself, as I hoped it might, so you should at some point (if not already) see a hit in Google Analytics for the new code. I've seemingly successfully deployed to `staging` too (in so much as it reported a success), but I'm yet to see the results of that on [the `staging` box](https://badges.allizom.org/). That might just be a case of more persistent caching, bu

[2014-07-14 13:07] andrewhayward commented on #29
Spoke too soon. `staging` is now showing the same changes. As and when you see some information in GA that looks correct, let me know and I'll push the change live.

[2014-07-14 21:52] emgollie commented on #41
Sounds great.

[2014-07-14 22:04] emgollie commented on #39
@zzzndr and I got helpful feedback today that we'll be sharing on Tuesday's team call: https://openbadges.etherpad.mozilla.org/mozbadges. Two main suggestions were that a) a landing page could be effective for explaining the Mozilla badges project to new site visitors; and b) badges pathways can be introduced more visually and possibly metaphorically.

From here I'll be testing prospective site se

[2014-07-14 22:21] andrewhayward commented on #39
Did they have much to say about the issuer/earner divide? I'm still not convinced there's as much separation of these groups as the wireframes might suggest.

[2014-07-14 22:34] emgollie commented on #39
@andrewhayward This team said they appreciated the distinction (to the extent that they suggested new site visitors be prompted to choose between "I want to issue badges" and "I want to earn badges"). Curios to see how it's received in additional testing this week and next. cc @zzzndr

[2014-07-14 23:09] lmorchard commented on #21
Just saw this issue... FWIW, badg.us is now hosted & maintained by Mozilla Community IT - https://github.com/Mozilla-cIT/badg.us

[2014-07-14 23:13] #37 closed, assigned to nobody

[2014-07-14 23:14] emgollie commented on #18
Let's discuss tomorrow @christensenep--I think this is worth discussing live.

[2014-07-15 14:56] davidascher commented on #18
backpack.openbadges.org is being used by a bunch of folks.  let's call that
a separate project, out of scope for this summer's work.

[2014-07-15 15:16] adamlofting commented on #29
This is firing correctly on staging and is not causing any JS errors, but this doesn't show in GA yet because the traffic is filtered to only report on `badges.mozilla.org` domain.

As we don't have any existing tracking to break by getting this wrong. I suggest this is ready to push live :)

[2014-07-15 17:24] emgollie commented on #38
This has moved to testing. Closing.

[2014-07-15 17:24] #38 closed, assigned to nobody

[2014-07-16 19:45] emgollie commented on #39
Have requests for targeted feedback out to various community-minded staff across MoCo + MoFo to consolidate by EOW: https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes

[2014-07-16 20:51] zzzndr opened #42 "design of the homepage"
Here are a _rough_ versions of the issuer & earner open dashboard I've been working on.
- Everything is work in progress!
- I haven't focused on margins etc, prefer to focus on the big picture first (:
- About the avatars, we're thinking of focusing on the circular style to have a similar visual style as on mozillians.org

Feedback is more then welcome!

@emgollie @christensenep @andrewhayward @ad

[2014-07-16 23:19] karlht commented on #39
@emgollie, can I 'opt in' to that group of 'community-minded staff across Moco + MoFo'?

[2014-07-16 23:36] emgollie commented on #39
@karlht By all means! The sets of wireframes are downloadable from the etherpad and we would love your feedback.

[2014-07-17 07:31] andrewhayward commented on #29
Pushed to production.

[2014-07-17 07:31] #29 closed, assigned to adamlofting

[2014-07-18 16:51] andrewhayward commented on #42
Some ~~ramblings~~ thoughts...
1. First and foremost, how do these designs compare to the logged out home-page? There's a block in the 'Earn a badge' section for first-timers, but first timers will not be logged in (I assume!), so won't be able to issue badges, or have any recent contributions.
2. Related - I know it's only text at this point, but I'm not a big fan of the 'contribution' language.

[2014-07-18 21:07] emgollie commented on #42
Thanks @andrewhayward. I'm reviewing this with @zzzndr shortly, and wording and colors are placeholder.

[2014-07-18 21:45] zzzndr opened #43 "wireframe homepage not logged in"
Here is a link to the homepage when you are not logged in!
https://redpen.io/osc54e63ddc739dd7b

Feedback is more then welcome (:

@emgollie @christensenep @andrewhayward @adamlofting @davidascher

[2014-07-18 22:40] emgollie opened #44 "Culling highlighted badges manually or automatically"
User feedback on recent wireframes (https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes) included this comment:

_"Highlighted badges" (what kind of curation is going on there?) Much better than just the latest badges._

Do we imagine that these badges would need to be automatically selected or is there a way we can regularly randomly select from frequently issued badges? cc @and

[2014-07-19 16:49] emgollie opened #45 "Contribution badge counting question"
User feedback on recent wireframes (https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes) included this comment: _"I wish it was possible to see all badges that count as 'contribution' badges."_ Curious to hear your thoughts on how to distinguish these particular badges if at all, @adamlofting? cc @zzzndr @dajbelshaw @davidascher

[2014-07-19 16:54] emgollie opened #46 "Pathways display treatment"
User feedback on recent wireframes (https://openbadges.etherpad.mozilla.org/badges-mozilla-org-wireframes) included this comment: _I wish I could see the trajectory of badges for a given contrbution pathway easily._

@zzzndr and I think that this is a nice to have and may be a post-launch project. We can decide in the coming weeks (I also need to confirm what "trajectory" means here re: related ba

[2014-07-19 16:56] emgollie commented on #46
Another related comment: _Wouldn't it be great if "favouriting" badges on badges.mozilla.org allowed you to build your own pathway at discover.openbadges.org?_

[2014-07-19 17:03] emgollie commented on #42
@andrewhayward, really appreciate you pulling this information (I should have thought to ask for it sooner). @zzzndr is going to reach out to you on Monday AM GMT to discuss, and in the meantime, I wanted to share this feedback from @mattheww regarding the homepage:

_I was a little confused by the big tabs. It feels a bit odd to steer the homepage with selections inside this tab. I like that the

[2014-07-19 17:07] emgollie opened #47 "Mozillians.org integration questions per site wireframes"
@christensenep: @zzzndr and I were reviewing wireframe questions and wanted to get your thoughts on the technical feasibility of these questions from William Reynolds:
- Should the experience or information displayed be different if the signed in user has a vouched Mozillians.org profile?
- A profile page is mentioned on the Tour page. Is this a profile for a user or a team? [Emily response: there

[2014-07-20 12:26] andrewhayward commented on #42
This. Very much this.

[2014-07-21 08:48] andrewhayward commented on #47
For reference:
- Currently, the only difference between vouched and non-vouched users is the ability to create badges. Otherwise, that I'm aware of, everything else is the same. That is not to say that we need to maintain this situation, of course.
- Worth noting [the Mozillians API terms of use](http://mozillians.readthedocs.org/en/latest/api/api.html#using-api-data), which are somewhat restricti

[2014-07-21 10:19] andrewhayward commented on #19
This all seems to work. Closing.

[2014-07-21 10:19] #19 closed, assigned to andrewhayward

[2014-07-21 16:34] ghost commented on #46
Sounds like this basically means a visualization of a badge pathway, if I'm guessing/understanding correctly?

[2014-07-21 16:36] ghost commented on #44
I think randomly selecting from popular badges is what was discussed thus far, though I could see it being useful to manually highlight badges (though not sure who would actually be responsible for making such a call)

[2014-07-21 17:21] emgollie commented on #46
@christensenep That's right--an extension on some of the discovery / pathways work if you will. cc @zzzndr

[2014-07-21 17:44] andrewhayward commented on #46
Is discover.openbadges.org actually production ready? Maybe I just misunderstood @stenington and @chloeatplay, but I was under the impression that it was kind of at demo level. Or are we just talking about doing something similar?

[2014-07-21 17:46] chloeatplay commented on #46
@andrewhayward status of discover.openbadges.org is :point_right:  prototype.

[2014-07-21 17:51] ghost commented on #46
Sorry, that was sort of the unspoken part of my comment.  Visualization of badge pathways, therefore post-launch.

[2014-07-21 21:21] emgollie commented on #47
One additional question: do we anticipate that this would be possible @andrewhayward @christensenep?

_We could link Team pages with Groups on Mozillians.org, since each team has a Group page too. We could add a "Team badges" link on the Mozillians.org Group page that links to the Team page._

[2014-07-21 21:40] andrewhayward commented on #47
@emgollie - yep, wouldn't be a problem to link teams on badges.mo to groups on mozillians.org, though I guess that's all it would be - there's not much information about a group to pull in.

That said, it would be interesting to suggest badges and teams to users on badges.mo based on their group membership (and skills, location, etc) on mozillians.org.

[2014-07-22 09:26] adamlofting commented on #42
+1 the more I think about this... most issuers will arrive at the site already knowing about badges and that they want to issue a badge. And so long as there is a reasonably findable route into the badge design/issuing process, those people will be predisposed to finding it.

[2014-07-22 09:46] adamlofting commented on #45
That would certainly be possible to do, but there are two caveats/reasons not to do this directly in badges.m.o (at least not right away):
1. While a badge like a 'Webmaker Mentor' badge clearly correlates with a contributor, some teams are planning to use badges in less direct ways, e.g. 'an active contributor is someone who receives 3 badges from a certain set within 6 months'. These rule-sets c

[2014-07-22 13:08] ghost commented on #42
Weird, could have sworn I'd left a comment here!  But yeah, I meant to say pretty much what adam said... issuing seems like an "admin" feature that I think is reasonable not to place front-and-center on the page.

[2014-07-22 13:18] zzzndr commented on #42
I've copied links to new wireframes in the mozbadges etherpad without an earner / issuer tab and a dedicated issuer page  (:

The idea is to only show the link to the badge issue page to users who are vouched Mozillians

[2014-07-23 21:26] zzzndr opened #48 "Visual mockup homepage"
Here are 3 visual mockups with different color schemes of the Home page, logged in as a user who can create & issue badges

• green
https://redpen.io/pt8d91bbabfd7cdb38

• blue
https://redpen.io/ysa9e68e51a96d14da

• dark blue
https://redpen.io/fqe3ae15386ce6e4a8

@emgollie @christensenep @andrewhayward @adamlofting @davidascher

[2014-07-23 21:26] zzzndr opened #49 "Visual mockup available badges page"
Here is the visual mockup of the available badges page, this is the earner flow
Logged in as a user who can create & issue badges
https://redpen.io/jgfb1df002108f0702

@emgollie @christensenep @andrewhayward @adamlofting @davidascher

[2014-07-23 22:22] emgollie commented on #48
Adding @chloeatplay @iamjessklein @mattheww @mart3ll @threeqube for their thoughts on general layout and color preferences. What do you love, dislike, and suggest changing?

[2014-07-24 18:29] iamjessklein commented on #48
Great work @zzzndr
I added my comments in redpen.

[2014-07-25 18:05] zzzndr opened #50 "Refined visual mockup homepage"
Here are refined visual mockups of the homepage and the different states depending on being logged in and whether a user is allowed to create and issue badges (:

Overview of all the different states of the header of the homepage depending on:
1 not logged in
- logged in with your persona account & being a vouched Mozillian (being able to create & issue badges)
  2 first visit
  3 returning
- logg

[2014-07-25 18:05] zzzndr opened #51 "Refined visual mockup available badges page"
Here is the refined visual mockup of the available badges page, this is the earner flow
Logged in as a user who can create & issue badges
- Available badges page
  https://redpen.io/dwf7b0a753ec86689c

Available badges page, visual search
https://redpen.io/ng38b6a3862cb2743f

@emgollie @christensenep @andrewhayward @adamlofting @davidascher

Adding @chloeatplay @iamjessklein @mattheww @mart3ll @th

[2014-07-26 07:19] zzzndr commented on #51
@threeqube Here is the actual link to the available badges page with the visual search suggestion!

Available badges page, visual search
https://redpen.io/tn437de4f44f077ca7

[2014-07-26 13:44] threeqube commented on #51
Thanks @zzzndr!

[2014-07-28 02:11] emgollie commented on #51
Thanks for your feedback @threeqube.  @chloeatplay @iamjessklein @mattheww @mart3ll, if you have any feedback please let us know on Monday morning. Appreciate it!

[2014-07-28 02:16] emgollie commented on #50
The UI headers look good IMHO @zzzndr. My main feedback is universal across these pages and listed on "Only earner, returning": https://redpen.io/fhb33934a7c27f7f59

Additional thoughts, @christensenep @andrewhayward @adamlofting @davidascher?

[2014-07-28 09:30] zzzndr commented on #50
Thanks for the feedback!
A refined screen is ready to be reviewed:
https://redpen.io/sk4918d12fdd08eb79

[2014-07-29 15:37] adamlofting opened #52 "Add GA tracking to new badges site"
- [ ]  Use an environment variable for the option to vary between dev, staging and prod

Prod:

[code]

[2014-07-29 15:42] adamlofting commented on #52
@andrewhayward @christensenep - do you want to do anything specific with managing .js files included, or shall I just add things into `base/static/js` and then into `base.html`?

[2014-07-29 15:54] andrewhayward commented on #52
What would be different about this in the various environments? Just thinking how best to go about configuring the script.

[2014-07-29 15:59] adamlofting commented on #52
This is an optional extra really, but we could set an alternative GA-account-id and GA-domain on staging and prod.
That way we can test any changes to GA tracking on staging.

[2014-07-29 16:00] adamlofting commented on #52
I'll open a PR, so we can discuss in relation to actual code :)

[2014-07-29 16:21] adamlofting commented on #52
Here's what I was thinking (re-using the existing process from webmaker):
https://github.com/mozilla/mozilla-badges/pull/20/files#diff-31d2b15bbb55166af1f9ee9f958ea6dfR183

[2014-07-29 16:41] andrewhayward commented on #52
I'll ask implementation questions on the issue itself.

[2014-08-05 10:27] adamlofting commented on #7
@andrewhayward @christensenep

@zzzndr has designed these graphs (links below) to report on badge usage by tags and teams. I had a quick look at badgekit-api database to sense check what these are like to report on, but I couldn't see anything about tags in there currently.

Could you have a look at the data that would be required for these and flag up if it causes any pain:
a) in the short term t

[2014-08-06 18:03] emgollie opened #53 "Community call: Backpack integration; site responsiveness"
Today I presented our work to date on the Open Badges community call and got some great feedback and questions. Please take a look when you have a minute under line 145: http://etherpad.badgealliance.org/CCAug6 (I listed August 22 as the soft launch date so that we can do a show and tell / teaser announcement on the August 21 Grow Call.)

Two main questions were about timing for Backpack integrati

[2014-08-08 18:52] emgollie commented on #53
Per today's conversation, mobile issuing is out of scope but @christensenep is looking into Backpack display integration / making that process evident for earners on site. Thanks!

[2015-05-13 11:06] #5 closed

[2019-02-18 00:49] moz-hwine opened #54 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/mozbadging/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-03-29 04:57] Mozilla-GitHub-Standards opened #55 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The